

body{
  background: #333;
}

#menu{
  display: inline-block;
}
#container{
  vertical-align: top;
  margin: 20px;
  color: #999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #aaa;
}

#menu-btn{
  cursor: pointer;
  margin-left:20px;
  margin-top:5px;
}

#menu-list{
  padding: 50px;
  margin: 11px 0 0 0;
  position: absolute;
  background: #e2e2e2;
  display: none;
}

#menu-btn.open + #menu-list{
  display: block;  
}

a{
  color: #57B6FF;
}

#filter-bar-wrapper {
  height:50px;
}

#filter-bar {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  background-color:black;
  height:40px;
  padding-top:10px;
  z-index:2;
  text-decoration:none;
}

.category {
  text-decoration:none;
  color:black;
  border:10px;
  padding-top:25px;
  padding-bottom:25px;

}

.category.selected {
  background-color:black;
  color:white;
  border:10px;

}

#search  {
	float:right;
    padding:5px;
}

.item { 
  display:inline-block;
  width: 200px;
  list-style-type:none;
  background-color:#f5f5f7;
  padding:20px;
  cursor:pointer;
}

.red { 
  background-color:red;
}

.blue { 
  background-color: lightblue;
}

.purple {
  background-color:purple;
}

.item-big { width: 300px; }


.overlay {
  position:fixed;
  height:100%;
  width:100%;
  left:0;
  top:0;
  background-color:rgba(0,0,0,0.9);
  z-index: 3;
  display:none;
}

.height{
	text-align:center;
}

.modal {
  width: 400px;
  position: fixed;
  top: 5%;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color:white;
  padding:10px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  border-radius:10px;
  z-index:4;
  display:none;
  max-height:90%;
  overflow:auto;
}

.modal img { width:400px; height:400px; }

button {
	width:200px;
	padding-top:10px;
	padding-bottom:10px;
}

ul {
	list-style-type: none;
}

button:active {
	height:50px;
	
}
